@model IEnumerable<Film>

@{
    ViewData["Title"] = "Lista filmów";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model=>model.Nazwa)</th>
                    <th>@Html.DisplayNameFor(model=>model.Opis)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                   <tr>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.Nazwa)
                       </td>
                       <td class="align-middle">
                           @Html.DisplayFor(modelItem => item.Opis)
                       </td>
                   </tr>
                }
            </tbody>
        </table>

    </div>
</div>

