@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h2>Dane do logowania</h2>
    <p>
        <b>Admin</b><br />
        Email: admin@cinema.com<br />
        Haslo: Admin@123<br />
        <br /><br />
        <b>Użytkownik</b><br />
        Email: user@cinema.com<br />
        Haslo: Admin@123<br />
    </p>
</div>
