@model ICollection<CinemaProjectASP.Models.Film>
@{
ViewData["Title"] = "List";
}

<div class="text-center">
    <h1 class="display-4">Pomyślnie zakupiłeś bilet na film</h1>
    <h2>Bilet do odebrania w kinie.</h2>

    <div style="padding: 200px">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Wróć do strony głównej</a>
    </div>
</div>